<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.firecore.infuse.bg_services</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>25E246</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Infuse</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Infuse supported video files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Infuse supported video files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.avi</string>
				<string>public.mpeg</string>
				<string>public.mpeg-4</string>
				<string>public.3gpp</string>
				<string>public.3gpp2</string>
				<string>public.movie</string>
				<string>public.iso-image</string>
				<string>com.microsoft.advanced-​systems-format</string>
				<string>com.microsoft.windows-​media-wmv</string>
				<string>com.firecore.fileformat.dvr-ms</string>
				<string>com.firecore.fileformat.flv</string>
				<string>com.firecore.fileformat.mpg</string>
				<string>com.firecore.fileformat.wmv</string>
				<string>com.firecore.fileformat.mkv</string>
				<string>com.firecore.fileformat.ts</string>
				<string>com.firecore.fileformat.m2ts</string>
				<string>com.firecore.fileformat.mts</string>
				<string>com.firecore.fileformat.avi</string>
				<string>com.firecore.fileformat.m4v</string>
				<string>com.firecore.fileformat.mov</string>
				<string>com.firecore.fileformat.mp4</string>
				<string>com.firecore.fileformat.mpeg</string>
				<string>com.firecore.fileformat.mod</string>
				<string>com.firecore.fileformat.wtv</string>
				<string>com.firecore.fileformat.ogm</string>
				<string>com.firecore.fileformat.ogv</string>
				<string>com.firecore.fileformat.webm</string>
				<string>com.firecore.fileformat.asf</string>
				<string>com.firecore.fileformat.rmvb</string>
				<string>com.firecore.fileformat.vob</string>
				<string>com.firecore.fileformat.mxf</string>
				<string>com.firecore.fileformat.dvdmedia</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Infuse supported subtitles</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.firecore.fileformat.srt</string>
				<string>com.firecore.fileformat.ass</string>
				<string>com.firecore.fileformat.ssa</string>
				<string>com.firecore.fileformat.sub</string>
				<string>com.firecore.fileformat.smi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Infuse</string>
	<key>CFBundleIconFile</key>
	<string>AppIconMac</string>
	<key>CFBundleIconName</key>
	<string>AppIconMac</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIconMac</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.firecore.infuse</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Infuse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.4.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>infuse</string>
				<string>infuse7</string>
				<string>infuse-oauth</string>
				<string>com.googleusercontent.apps.278802388965-0mp0ahsku54ob8fd9o5ic7ebv2970dbp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8.4.5643</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25E236</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.4</string>
	<key>DTSDKBuild</key>
	<string>25E236</string>
	<key>DTSDKName</key>
	<string>macosx26.4</string>
	<key>DTXcode</key>
	<string>2640</string>
	<key>DTXcodeBuild</key>
	<string>17E192</string>
	<key>FCMediaAppBuild</key>
	<string>5643</string>
	<key>FCMediaAppVersion</key>
	<string>8.4.4</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>infuse7</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Please allow access in order to show iTunes videos.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Used to discover nearby Cast devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Used for streaming media to external devices</string>
	<key>NSCameraUsageDescription</key>
	<string>Used for scanning QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used for unlocking your device when restrictions are enabled</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Used to discover network shares and Google Cast devices in your local network</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used for pairing with external devices</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>external-accessory</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>6</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarStyle~ipad</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations_ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVR-MS</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.dvr-ms</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvr-ms</string>
				</array>
				<key>public.mime-type</key>
				<string>video/dvr-ms</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FLV File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.flv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-flv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPG File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mpg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpg</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WMV File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.wmv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wmv</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/x-ms-wmv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MKV File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-matroska</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MK3D File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mk3d</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mk3d</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-matroska-3d</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TS File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
					<string>tp</string>
				</array>
				<key>public.mime-type</key>
				<string>video/ts</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M2TS File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.m2ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m2t</string>
					<string>m2ts</string>
				</array>
				<key>public.mime-type</key>
				<string>video/m2ts</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MTS File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mts</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mts</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AVI File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.avi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avi</string>
				</array>
				<key>public.mime-type</key>
				<string>video/avi</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M4V File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.m4v</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m4v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/m4v</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MOV File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mov</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mov</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mov</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MP4 File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mp4</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp4</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mpeg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpeg</string>
					<string>mpg</string>
					<string>mpe</string>
					<string>m2v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MOD File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mod</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WTV File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.wtv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wtv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/wtv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<string>video/webm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OGM File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.ogm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogm</string>
				</array>
				<key>public.mime-type</key>
				<string>video/ogm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OGV File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.ogv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/ogv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Bink File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.bik</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bik</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-bink</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASF File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.asf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asf</string>
				</array>
				<key>public.mime-type</key>
				<string>video/asf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VOB File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.vob</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vob</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-ms-vob</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SRT subtitles</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.srt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>srt</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASS File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.ass</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ass</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SSA subtitles</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.ssa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ssa</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SUB subtitles</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.sub</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sub</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SMI subtitles</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.smi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smi</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DivX File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.divx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>divx</string>
				</array>
				<key>public.mime-type</key>
				<string>video/divx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RMVB File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.rmvb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmvb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.rn-realmedia-vbr</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MXF File</string>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.mxf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/mxf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVD Media File</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.firecore.fileformat.dvdmedia</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvdmedia</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
